{% extends "layout/base.html" %}

{% block content %}
{% if zone.resourceRecords %}
<div class="table-responsive">
  <table class="table table-striped table-bordered" id="records_table">
    <thead>
      <tr>
        <th data-class="expand">Host</th>
        <th data-hide="phone">Type</th>
        <th data-hide="phone">Data</th>
        <th data-hide="phone,plandscape">TTL</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for record in zone.resourceRecords %}
      <tr>
        <td>{{ record.host }}</td>
        <td>{{ record.type.upper() }}</td>
        <td>{{ record.data }}</td>
        <td>{{ record.ttl }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('.record_edit', record_id=record.id) }}">Edit</a>
              <li><a href="{{ url_for('.record_delete', record_id=record.id) }}" data-title="{{ record.host }}" data-confirm="This will delete this zone record! Are you sure you want to continue?">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No records found for this zone.</div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{% if zone.resourceRecords %}
<script type="text/javascript">
$(document).ready(function() {
    var oTable = $('#records_table').dataTable();
    oTable.fnFilter('{{ search }}');
});
</script>
{% endif %}
{% endblock %}