{% extends "layout/base.html" %}

{% block content %}
<form action="{{ action }}" method="post" id='zone_record_update_form' class="form-horizontal" role="form">
  {{form.hidden_tag()}}

  {{ helpers.field_enclosure(form.host, after='.'+zone.name) }}

  {{ helpers.field_enclosure(form.type) }}

  {{ helpers.field_enclosure(form.data) }}

  {{ helpers.field_enclosure(form.ttl, after='seconds') }}

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">{{ action_name }} Record</button>
      {% if action_name == 'Add' %}
          <a href="{{ url_for('.index') }}" class="btn btn-default">Cancel</a>
      {% else %}
          <a href="{{ url_for('.zone_view', zone_id=zone.id) }}" class="btn btn-default">Cancel</a>
      {% endif %}
    </div>
  </div>
</form>
{% endblock %}