DEBUG = False
CSRF_ENABLED = True
SECRET_KEY = '' # Set this to something random
OTP_SECRET = '' # Set this to something else random
PAGE_SIZE = 25
SQLALCHEMY_DATABASE_URI  = 'sqlite:////usr/local/slick/slick.db'
#SQLALCHEMY_DATABASE_URI = 'postgresql://slick:slick@localhost/slick'
#SQLALCHEMY_DATABASE_URI = 'mysql://slick:slick@localhost/slick'
#SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'db_repository')
