{% extends "layout/base.html" %}

{% block content %}
<form action="{{ url_for('.security_question') }}" method="post" id='site_security_question_form' class="form-horizontal" role="form">
  {{form.hidden_tag()}}

  <p>Your account requires you to answer a security question in order to login. Please select one of the questions you have answered below.</p>

  {{ helpers.field_enclosure(form.question_id) }}
  {{ helpers.field_enclosure(form.answer) }}
  
  {# Submit Buttons #}
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  </div>
</form>
{% endblock %}
