{% macro field_enclosure(field='', content='', label='', field_name='', errors='', after='', required=0) -%}
  {% if field %}
    {% set label=field.label %}
    {% set field_name=field.name %}
    {% set errors=field.errors %}
    {% if field.flags %}
      {% set required=field.flags.required %}
    {% endif %}
    {% set content=field(class="form-control") %}
  {% endif %}

  <div class="form-group row">
    {% if label %}
      <label for="{{ field_name }}" class="col-md-2 control-label">{{ label }}{% if required %} *{% endif %}</label>
    {% endif %}
    <div class="col-md-4{% if errors %} has-error{% endif %}">
      <div{% if after %} class="input-group"{% endif %}>
      {{ content }}
      {% if after %}
        <span class="input-group-addon">{{ after }}</span>
      {% endif %}
        </div>
      {% if errors and errors is iterable %}
      <span class="help-block">
        <ul class="list-unstyled">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </span>
      {% endif %}
    </div>
  </div>
{%- endmacro %}

{% macro pagination(endpoint, current_page, total_items) -%}
  {% set highest_page = (total_items / config['PAGE_SIZE'])|round(0, 'ceil')|int %}
  {% set current_max = config.PAGE_SIZE * current_page %}
  {% if current_max > total_items %}
    {% set current_max = total_items %}
  {% endif %}

  <ul class="pagination">
    <li{% if current_page == 1 %} class="disabled"{% endif %}><a href="{{ url_for(endpoint, page=current_page-1) }}">&laquo;</a></li>
    {% for i in range(1, highest_page+1) %}
    <li{% if i == current_page %} class="active"{% endif %}><a href="{{ url_for(endpoint, page=i) }}">{{ i }}</a></li>
    {% endfor %}
    <li{% if current_page == highest_page %} class="disabled"{% endif %}><a href="{{ url_for(endpoint, page=current_page+1) }}">&raquo;</a></li>
    {# TODO - This is weird. I should change it before release. #}
    <li class="disabled"><a href="#">Showing {{ (current_page-1) * config.PAGE_SIZE + 1 }} - {{ current_max }} of {{ total_items }}</a></li>
  </ul>
{%- endmacro %}

{% macro render_menu(menu) -%}
  {% for items in menu %}
    {% set endpoint = items[0] %}
    {% set label = items[1] %}
    {% if not endpoint is string %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ label }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          {% for sub_endpoint, sub_label in endpoint %}
            {% if not sub_endpoint is string %}
              <li class="dropdown-submenu">
                <a href="#">{{ sub_label }}</a>
                <ul class="dropdown-menu">
                {% for level3_url, level3_label in sub_endpoint %}
                  <li><a href="{{ url_for(level3_url) }}">{{ level3_label }}</a></li>
                {% endfor %}
                </ul>
              </li>
            {% else %}
              <li><a href="{{ url_for(sub_endpoint) }}">{{ sub_label }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    {% else  %}
      <li{% if endpoint == request.endpoint %} class="active"{% endif %}><a href="{{ url_for(endpoint)}}">{{ label }}</a></li>
    {% endif %}
  {% endfor %}
{%- endmacro %}