{% extends "layout/base.html" %}
{% set inactive_ccis = [] %}
{% block content %}
{% if instances %}
<table class="table table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th style="width: 25%">Hostname</th>
      <th style="width: 10%">Datacenter</th>
      <th style="width: 15%">Public</th>
      <th style="width: 15%">Private</th>
      <th style="width: 5%">CPU</th>
      <th style="width: 5%">Memory</th>
      <th style="width: 15%">Status</th>
      <th style="width: 10%">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for instance in instances %}
    {% if not instance.active or not instance.datacenter %}
      {% do inactive_ccis.append(instance.id) %}
    {% endif %}
    <tr id="cci_{{ instance.id }}">{% include 'cci_instance_row.html' %}</tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No CCIs found on your account.</div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var checkCCIs = false;
var cciList = Array();

setInterval(function() {
    for (var i=0; i<cciList.length; i++) {
      var cciId = cciList[i];
      $.get("{{ url_for('cci_module.status') }}/" + cciId).done(function(data) {
          result = $.parseJSON(data);
          $('#cci_' + cciId).html(result.row_html);
          if (result.active) {
            var index = cciList.indexOf(cciId);
            cciList.splice(index, 1);
          }
        });
    }
}, 5000);

{% if inactive_ccis %}
{% for id in inactive_ccis %}
cciList.push({{ id }});
{% endfor %}
{% endif %}

function reloadCCI(cciId) {
    var href = $('#reload_' + cciId).attr('href')
    var hostname = $('#cci_' + cciId).find('.cci_hostname').html();
    bootbox.confirm("<h3 class='text-danger'>" + hostname + "</h3>This will erase the CCI and restore it to the base OS!<br><br>Are you sure you want to continue?", function(result) {
        if (result) {
          $.get(href).done(function(data) {
              result = $.parseJSON(data);

              var messageType = 'error';
              if (result.success) {
                messageType = 'success';
                cciList.push(cciId);
              }

              add_notification(result.message, messageType);
            });
        }
      }); 
}
</script>
{% endblock %}
