{% if instance.active and instance.datacenter %}
  {% set status_class = 'text-success' %}
  {% set status_colspan = 1 %}
  {% set instance_active = 1 %}
{% else %}
  {% set status_class = 'text-danger' %}
  {% set status_colspan = 2 %}
  {% set instance_active = 0 %}
{% endif %}
<td class="cci_hostname">{{ instance.fqdn}}</td>
<td>{{ instance.datacenter }}</td>
<td>{{ instance.public }}</td>
<td>{{ instance.private }}</td>
<td>{{ instance.cpu }}</td>
<td>{{ instance.memory // 1024 }} GB</td>
<td colspan="{{ status_colspan }}">
{% if not instance_active %}
  <img src="/static/img/ajax-loader-bar.gif" alt="Action in Progress">
{% endif %}
<span class="{{ status_class }}">{{ instance.status }}</span>
</td>
{% if instance_active %}
<td>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="/compute/view/{{ instance.id }}"><i class="icon-search"></i> View</a></li>
      <li><a href="/domain/quick_register_cci/{{ instance.domain }}/{{ instance.hostname }}/{{ instance.public }}"><i class="icon-globe"></i> Register in DNS</a></li>
      <li><a href="/compute/clone_cci/{{ instance.id }}"><i class="icon-share"></i> Order Another</a></li>
      <li><a href="{{ url_for('cci_module.reload_cci', cci_id=instance.id) }}" id="reload_{{ instance.id }}" onclick="reloadCCI({{ instance.id }}); return false;"><i class="icon-repeat"></i> Reload</a></li>
      <li><a href="/compute/cancel/{{ instance.id }}"><i class="icon-trash"></i> Cancel</a></li>
    </ul>
  </div>
</td>
{% endif %}
