{% extends "layout/base.html" %}

{% block content %}
{% if subnets %}
<div class="table-responsive">
  <table class="table table-striped table-bordered" id="subnet_table">
    <thead>
      <tr>
        <th>Identifier</th>
        <th>Type</th>
        <th>Datacenter</th>
        <th>VLAN Number</th>
        <th>IPs</th>
        <th>VMs</th>
        <th>Servers</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for subnet in subnets %}
      <tr>
        <td>{{ subnet.networkIdentifier }}</td>
        <td>{{ subnet.subnetType }}</td>
        <td>{{ subnet.datacenter.name }}</td>
        <td><a href="{{ url_for('network_module.vlan_index') }}?vlan={{ subnet.networkVlan.vlanNumber }}">{{ subnet.networkVlan.vlanNumber }}</a></td>
        <td>{{ subnet.ipAddressCount }}</td>
        <td>{{ subnet.virtualGuests|count }}</td>
        <td>{{ subnet.hardware|count }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('.subnet_view', subnet_id=subnet.id) }}">View</a></li>
              <li><a href="{{ url_for('.subnet_cancel', subnet_id=subnet.id) }}" data-confirm="This will cancel this subnet! Are you sure you want to continue?">Cancel</a></li>
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No subnets found on your account.</div>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    var oTable = $('#subnet_table').dataTable({
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [7] }
        ],
      });
    oTable.fnFilter('{{ search }}');
});
</script>
{% endblock %}