{% if server.active and server.datacenter %}
  {% set status_class = 'text-success' %}
  {% set server_active = 1 %}
{% else %}
  {% set status_class = 'text-danger' %}
  {% set server_active = 0 %}
{% endif %}
<td class="server_hostname">{{ server.fqdn}}</td>
<td>{{ server.datacenter }}</td>
<td>{{ server.public }}</td>
<td>{{ server.private }}</td>
<td>{{ server.cpu }}</td>
<td>{{ server.memory }} GB</td>
<td>
{% if not server_active %}
  <img src="/static/images/ajax-loader-bar.gif" alt="Action in Progress">
{% endif %}
<span class="{{ status_class }}">{{ server.status }}</span>
</td>
<td>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('.view', server_id=server.id) }}">View</a></li>
      {% if 'dns' in config.installed_blueprints %}
        {% if server.public %}
        <li><a href="{{ url_for('dns_module.quick_register', domain=server.domain, hostname=server.hostname, ip=server.public ) }}" id="quick_{{ server.id }}" onclick="dnsRegister({{ server.id }}); return false;">Register in DNS</a></li>
        {% endif %}
      {% endif %}
      {% if server_active %}
      {# <li><a href="/compute/clone_server/{{ server.id }}">Order Another</a></li> #}
      <li><a href="{{ url_for('.soft_reboot_server', server_id=server.id) }}" id="soft_reboot_{{ server.id }}" onclick="serverAction({{ server.id }}, 'soft_reboot'); return false;">Soft Reboot</a></li>
      <li><a href="{{ url_for('.hard_reboot_server', server_id=server.id) }}" id="hard_reboot_{{ server.id }}" onclick="serverAction({{ server.id }}, 'hard_reboot'); return false;">Hard Reboot</a></li>
      <li><a href="{{ url_for('.server_reload', server_id=server.id) }}" id="reload_{{ server.id }}" onclick="serverAction({{ server.id }}, 'reload'); return false;">Reload</a></li>
      <li><a href="/compute/cancel/{{ server.id }}">Cancel</a></li>
      {% endif %}
    </ul>
  </div>
</td>
