{% extends "layout/base.html" %}

{% block content %}
<form action="{{ url_for('.add') }}" method="post" id='key_add_form' class="form-horizontal" role="form">
  {{form.hidden_tag()}}

  {{ helpers.field_enclosure(form.label) }}

  {{ helpers.field_enclosure(form.key )}}

  {{ helpers.field_enclosure(form.notes )}}

  {# Submit Buttons #}
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">Add Key</button>
      <a href="{{ url_for('.index') }}" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}
