{% extends "layout/base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">SSH Key</h3>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Label</dt>
            <dd>{{ key.label }}</dd>
            <dt>Fingerprint</dt>
            <dd>{{ key.fingerprint }}</dd>
            <dt>Notes</dt>
            <dd>{{ key.notes }}</dd>
          </dl>
        </div>
      </div>
    </div>
</div>
{% endblock %}