{% if instance.active and instance.datacenter %}
  {% set status_class = 'text-success' %}
  {% set instance_active = 1 %}
{% else %}
  {% set status_class = 'text-danger' %}
  {% set instance_active = 0 %}
{% endif %}
<td class="vm_hostname">{{ instance.fqdn}}</td>
<td>{{ instance.datacenter }}</td>
<td>{{ instance.public }}</td>
<td>{{ instance.private }}</td>
<td>{{ instance.cpu }}</td>
<td>{{ instance.memory // 1024 }} GB</td>
<td>
{% if not instance_active %}
  <img src="/static/img/ajax-loader-bar.gif" alt="Action in Progress">
{% endif %}
<span class="{{ status_class }}">{{ instance.status }}</span>
</td>
<td>
  <div class="btn-group">
    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('.view', vm_id=instance.id) }}">View</a></li>
      <li><a href="/domain/quick_register_vm/{{ instance.domain }}/{{ instance.hostname }}/{{ instance.public }}">Register in DNS</a></li>
      {% if instance_active %}
      <li><a href="/compute/clone_vm/{{ instance.id }}">Order Another</a></li>
      <li><a href="{{ url_for('.soft_reboot_vm', vm_id=instance.id) }}" id="soft_reboot_{{ instance.id }}" onclick="vmAction({{ instance.id }}, 'soft_reboot'); return false;">Soft Reboot</a></li>
      <li><a href="{{ url_for('.hard_reboot_vm', vm_id=instance.id) }}" id="hard_reboot_{{ instance.id }}" onclick="vmAction({{ instance.id }}, 'hard_reboot'); return false;">Hard Reboot</a></li>
      <li><a href="{{ url_for('.reload_vm', vm_id=instance.id) }}" id="reload_{{ instance.id }}" onclick="vmAction({{ instance.id }}, 'reload'); return false;">Reload</a></li>
      <li><a href="/compute/cancel/{{ instance.id }}">Cancel</a></li>
      {% endif %}
    </ul>
  </div>
</td>
