{% extends "layout/base.html" %}

{% block content %}
<form action="{{ url_for('.create') }}" method="post" id='vm_add_form' class="form-horizontal" role="form">
  {{form.hidden_tag()}}

  {# Hostname and Domain #}
  <div class="form-group">
    <label for="hostname" class="col-md-2 control-label">Name</label>
    <div class="col-md-2{% if form.hostname.errors %} has-error{% endif %}">
      {{form.hostname(class="form-control", autofocus=true, placeholder='Hostname')}}
      {% if form.hostname.errors and form.hostname.errors is iterable %}
      <span class="help-block">
        <ul class="list-unstyled">
          {% for error in form.hostname.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </span>
      {% endif %}
    </div>
    <div class="col-md-2{% if form.domain.errors %} has-error{% endif %}">
      {{form.domain(class="form-control", placeholder='Domain')}}
      {% if form.domain.errors and form.domain.errors is iterable %}
      <span class="help-block">
        <ul class="list-unstyled">
          {% for error in form.domain.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </span>
      {% endif %}
    </div>
  </div>

  {# Data Center #}
  <div class="form-group">
    <label class="col-md-2 control-label">Data Center</label>
    <div class="col-md-6 btn-group" data-toggle="buttons">
      {%- for dc in form.datacenter %}
      {% if dc.data %}
      <label class="btn btn-primary{% if dc.data == form.datacenter.data %} active{% endif %}">
        <input type="radio" name="{{ dc.name }}" id="{{ dc.id }}" value="{{ dc.data }}"{% if dc.data == form.datacenter.data %} checked{% endif %}> {{ dc.data }}
      </label>
      {% endif %}
      {% endfor -%}
    </div>
    {% if form.datacenter.errors and form.datacenter.errors is iterable %}
    <span class="help-block">
      <ul class="list-unstyled">
        {% for error in form.datacenter.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </span>
    {% endif %}
  </div>

  {# Operating System #}
  <div class="form-group">
    <label class="col-md-2 control-label">Operating System</label>
    <div class="col-md-8">
      <ul class="nav nav-pills">
        {% for group in os_groups.keys()|sort %}
        {% set title = os_names[group]|default(group.title()) %}
        <li><a href="#os-{{ group }}" data-toggle="tab"><img src="/static/images/{{ group }}_logo.png" alt="{{ title }}" title="{{ title }}"></a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for group, options in os_groups.items()|sort %}
        <div class="tab-pane btn-group" id="os-{{ group }}" data-toggle="buttons">
          {% for value, text in options %}
          <label class="btn {% if value == form.os.data %} active{% endif %}">
            <input type="radio" name="os" id="os-{{ group }}-{{ value }}" class="radio-button" value="{{ value }}"{% if value == form.os.data %} checked{% endif %}> <span class="tooltip-trigger" data-toggle="tooltip" title="{{ text }}">{{ text|truncate(40, True) }}</span>
          </label>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {# CPUs #}
  {% set default_cpu = 1 %}
  {% if form.cpus.data|int %}{% set default_cpu = form.cpus.data|int %}{% endif %}
  <div class="form-group">
    <label class="col-md-2 control-label">CPU</label>
    <div id="cpu-slider" class="col-md-4"></div>
    <div class="col-md-2" id="cpu-amount">{{ default_cpu }} CPU{% if default_cpu > 1 %}s{% endif %}</div>
    <input type="hidden" id="cpus" name="cpus" value="{{ default_cpu }}">
  </div>

  {# RAM #}
  {% set default_memory = 1024 %}
  {% if form.memory.data|int %}{% set default_memory = form.memory.data|int %}{% endif %}
  <div class="form-group">
    <label class="col-md-2 control-label">Memory</label>
    <div id="memory-slider" class="col-md-4"></div>
    <div class="col-md-2" id="memory-amount">{{ (default_memory / 1024)|int }} GB</div>
    <input type="hidden" id="memory" name="memory" value="{{ default_memory }}">
  </div>

  {# NIC Speed #}
  <div class="form-group">
    <label class="col-md-2 control-label">Network Speed</label>
    <div class="col-md-4 btn-group" data-toggle="buttons">
      {%- for option in form.network %}
      <label class="btn btn-primary{% if option.data == form.network.data %} active{% endif %}">
        <input type="radio" name="{{ option.name }}" id="{{ option.id }}" value="{{ option.data }}"{% if option.data == form.network.data %} checked{% endif %}> {{ option.data }} Mbps
      </label>
      {% endfor -%}
    </div>
    {% if form.network.errors and form.network.errors is iterable %}
    <span class="help-block">
      <ul class="list-unstyled">
        {% for error in form.network.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </span>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-4" id="price_div"></div>
  </div>

  {# Submit Buttons #}
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary">Launch Instance</button>
      <button type="submit" class="btn btn-success" id="price_submit">Get Price Quote</button>
      <a href="{{ url_for('.index') }}" class="btn btn-default">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$('#price_submit').click(function(event) {
    event.preventDefault();

    valid = $('#vm_add_form').parsley('validate');
    
    if (valid) {
      div = $('#price_div');
      div.html('<img src="/static/images/ajax-loader.gif" alt="Loading Price Quote"> Getting Quote');
      $.post('{{ url_for(".price_check") }}', $('#vm_add_form').serialize()).done(function(data) { div.html(data) });
    }
});

$('.form-control').change(function() {
    $('#price_div').html('');
});

$('input[type=radio]').change(function() {
    $('#price_div').html('');
});

$('.radio-button').change(function() {
    $('.radio-button').each(function() {
        $(this).parent().removeClass('btn-primary');
    });

    $(this).parent().addClass('btn-primary');
});

$('.tooltip-trigger').tooltip();

var cpuCounts = [0, {% for cpu in form.cpus %}{% if cpu.data %}{{ cpu.data }}, {% endif %}{% endfor %}];
var memoryCounts = [0, {% for memory in form.memory %}{% if memory.data %}{{ memory.data }}, {% endif %}{% endfor %}];

$('#cpu-slider').slider({
    min: 1,
    max: {{ form.cpus.choices|length - 1 }},
    slide: function( event, ui ) {
      var message = cpuCounts[ui.value] + " CPU";
      if (ui.value > 1) { message += "s"; }
      $("#cpu-amount").html( message );
      $("#cpus").val(cpuCounts[ui.value]);
    },
  });

$('#memory-slider').slider({
    min: 1,
    max: {{ form.memory.choices|length - 1 }},
    slide: function( event, ui ) {
      var message = memoryCounts[ui.value] / 1024 + " GB";
      $("#memory-amount").html( message );
      $("#memory").val(memoryCounts[ui.value]);
    },
  });
</script>
{% endblock %}