{% extends "layout/base.html" %}
{% set inactive_vms = [] %}
{% block content %}
{% if instances %}
{# { helpers.pagination('vm_module.index', current_page, total_items) } #}
<div class="table-responsive">
  <table class="table table-striped table-bordered" id="vm_table">
    <thead>
      <tr>
        <th data-class="expand" style="width: 25%">Hostname</th>
        <th data-hide="phone" style="width: 10%">Datacenter</th>
        <th data-hide="phone,tablet" style="width: 15%">Public</th>
        <th data-hide="phone,tablet" style="width: 15%">Private</th>
        <th data-hide="phone" style="width: 5%">CPU</th>
        <th data-hide="phone" style="width: 5%">Memory</th>
        <th data-hide="phone" style="width: 15%">Status</th>
        <th style="width: 10%">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for instance in instances %}
      {% if (not instance.active or not instance.datacenter) and instance.status != 'Stopped' %}
        {% do inactive_vms.append(instance.id) %}
      {% endif %}
      <tr id="vm_{{ instance.id }}">{% include 'vm_instance_row.html' %}</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{# { helpers.pagination('vm_module.index', current_page, total_items) } #}
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No VMs found on your account.</div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var checkVMs = false;
var vmList = Array();

setInterval(function() {
    for (var i=0; i<vmList.length; i++) {
      var vmId = vmList[i];
      $.get("{{ url_for('vm_module.status') }}/" + vmId).done(function(data) {
          result = $.parseJSON(data);
          if (!result) {
            $('#vm_' + vmId).remove();
            vmList.splice(index, 1);
          }
          $('#vm_' + vmId).html(result.row_html);
          if (result.active) {
            var index = vmList.indexOf(vmId);
            vmList.splice(index, 1);
          }
        });
    }
}, 5000);

{% if inactive_vms %}
{% for id in inactive_vms %}
vmList.push({{ id }});
{% endfor %}
{% endif %}

function vmAction(vmId, action) {
    var href = $('#' + action + '_' + vmId).attr('href')
    if (action == 'reload') {
      var message = 'This will erase the VM and restore it to the base OS!';
    } else if (action == 'soft_reboot') {
      var message = 'This will attempt to reboot the VM using the normal operating system method.';
    } else if (action == 'hard_reboot') {
      var message = 'This will simulate a power cycle of the VM!';
    } else if (action == 'cancel') {
      var message = 'This will immediately cancel the VM, destroying all data on the system!';
    } else if (action == 'stop') {
      var message = 'This will stop the VM, prevending it from being used.';
    } else {
      var message = 'You are attempting to perform an unknown action.';
    }

    var hostname = $('#vm_' + vmId).find('.vm_hostname').html();
    bootbox.confirm("<h3 class='text-danger'>" + hostname + "</h3>" + message + "<br><br>Are you sure you want to continue?", function(result) {
        if (result) {
          $.get(href).done(function(data) {
              result = $.parseJSON(data);

              var messageType = 'error';
              if (result.success) {
                messageType = 'success';
                vmList.push(vmId);
              }

              add_notification(result.message, messageType);
            });
        }
      }); 
}

$(document).ready(function() {
    var responsiveHelper;
    var breakpointDefinition = {
      tablet: 1024,
      phone : 480
    };
    var tableContainer = $('#vm_table');

    var oTable = tableContainer.dataTable({
        fnPreDrawCallback: function () {
          // Initialize the responsive datatables helper once.
          if (!responsiveHelper) {
            responsiveHelper = new ResponsiveDatatablesHelper(tableContainer, breakpointDefinition);
          }
        },
          fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
          responsiveHelper.createExpandIcon(nRow);
        },
          fnDrawCallback: function (oSettings) {
          responsiveHelper.respond();
        }
      });
    oTable.fnFilter('{{ search }}');
});
</script>
{% endblock %}