{% extends "layout/base.html" %}
{% set inactive_vms = [] %}
{% block content %}
{% if instances %}
{# { helpers.pagination('vm_module.index', current_page, total_items) } #}
<table class="table table-striped table-bordered" id="vm_table">
  <thead>
    <tr>
      <th data-class="expand" style="width: 25%">Hostname</th>
      <th data-hide="phone,plandscape" style="width: 10%">Datacenter</th>
      <th data-hide="phone,plandscape,tablet" style="width: 15%">Public</th>
      <th data-hide="phone,plandscape,tablet" style="width: 15%">Private</th>
      <th data-hide="phone,plandscape" style="width: 5%">CPU</th>
      <th data-hide="phone,plandscape" style="width: 5%">Memory</th>
      <th data-hide="phone" style="width: 15%">Status</th>
      <th style="width: 10%">Actions</th>
    </tr>
  </thead>
  <tbody>
      {% for instance in instances %}
      {% if (not instance.active or not instance.datacenter) and instance.status != 'Stopped' %}
        {% do inactive_vms.append(instance.id) %}
      {% endif %}
    <tr id="provision_{{ instance.id }}">{% include 'vm_instance_row.html' %}</tr>
      {% endfor %}
  </tbody>
</table>
{# { helpers.pagination('vm_module.index', current_page, total_items) } #}
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No VMs found on your account.</div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">
var statusUrl = "{{ url_for('.status') }}";
</script>

<script src="/static/js/shared_provision.js"></script>
<script src="{{ url_for('.static', filename='js/vm.js') }}"></script>

<script type="text/javascript">
{% if inactive_vms %}
{% for id in inactive_vms %}
provisionList.push({{ id }});
{% endfor %}
{% endif %}

$(document).ready(function() {
    var oTable = $('#vm_table').dataTable();
    oTable.fnFilter('{{ search }}');
});
</script>
{% endblock %}