{% extends "layout/base.html" %}

{% block content %}
{% if vlans %}
<div class="table-responsive">
  <table class="table table-striped table-bordered" id="vlan_table">
    <thead>
      <tr>
        <th data-class="expand">Number</th>
        <th>Datacenter</th>
        <th data-hide="phone">Subnets</th>
        <th data-hide="phone">IPs</th>
        <th data-hide="phone,plandscape">Servers</th>
        <th data-hide="phone,plandscape">VMs</th>
        <th data-hide="phone,plandscape,smalltabportrait">Networking</th>
        <th data-hide="phone,plandscape,smalltabportrait">Firewall</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for vlan in vlans %}
      <tr>
        <td>{{ vlan.vlanNumber }}</td>
        <td>{{ vlan.primaryRouter.datacenter.name }}</td>
        <td><a href="{{ url_for('.subnet_index') }}?vlan={{ vlan.vlanNumber }}">{{ vlan.subnets|count }}</a></td>
        <td>{{ vlan.totalPrimaryIpAddressCount }}</td>
        <td>{{ vlan.hardware|count }}</td>
        <td>{{ vlan.virtualGuests|count }}</td>
        <td>{{ vlan.networkComponents|count }}</td>
        <td>
          {% if vlan.firewallInterfaces %}Yes{% else %}No{% endif %}</td>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('.subnet_create', vlan_id=vlan.id) }}">Create Subnet</a></li>
              <li><a href="{{ url_for('.vlan_view', vlan_id=vlan.id) }}">View</a></li>
            </ul>
          </div>
          
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="panel panel-danger">
  <div class="panel-heading">Error</div>
  <div class="panel-body">No VLANs found on your account.</div>
</div>
{% endif %}

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    var oTable = $('#vlan_table').dataTable();
    oTable.fnFilter('{{ search }}');
});
</script>
{% endblock %}