{% import 'utils/helpers.html' as helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slick{% if title %} - {{title}}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
{# @TODO - Figure out where these come from
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->  
#}
    <link href="/static/css/site/slick.css" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
    {# Menu #}
    {% if g.user.is_authenticated() %}
      {% include 'layout/menu.html' %}
    {% endif %}

    {# Flash messages start #}
    {% with errors = get_flashed_messages(category_filter=['error']) %}
      {% if errors %}
        {% for error in errors %}
          <div class="alert alert-danger fade in">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
	    {{ error }}<br/>
  	  </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% with successes = get_flashed_messages(category_filter=['success']) %}
      {% if successes %}
        {% for success in successes %}
          <div class="alert alert-success fade in">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            {{ success }}<br/>
  	  </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {# Flash messages end #}

    <h1><small>{{ title }}</small></h1>

    {# Page Content #}
    {% block content %}{% endblock %}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
    <script>$('form').parsley({ 
        successClass: 'has-success', 
        errorClass: 'has-error',
        errors: {
          classHandler: function (element) {
            return $(element).parent();
          },
          container: function (element) {
            var $container = element.parent().find(".help-block");
            if ($container.length === 0) {
              $container = $("<span class='help-block'></span>").insertAfter(element);
            };
            return $container;
          },
          errorsWrapper: '<ul class="list-unstyled"></ul>'
        }});
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>