{% import 'utils/helpers.html' as helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slick{% if title %} - {{title}}{% if subheader %} - {{ subheader }}{% endif %}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css" rel="stylesheet" media="screen">
    <link href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" media="screen">
{# @TODO - Figure out where these come from
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->  
#}
    <link href="/static/css/site/slick.css" rel="stylesheet" media="screen">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
    {# Menu #}
    {% if g.user.is_authenticated() %}
      {% include 'layout/menu.html' %}
    {% endif %}

    <h1><small>{{ title }}</small></h1>
    {% if subheader %}<h2><small>{{ subheader }}</small></h2><br>{% endif %}

    {# Page Content #}
    {% block content %}{% endblock %}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
    <script src="/static/js/core.js"></script>
    <!-- Toastr for notifications -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.0/js/toastr.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" type="text/javascript" charset="utf8"></script>

    <script type="text/javascript">
    {% with errors = get_flashed_messages(category_filter=['error']) %}
      {% if errors %}
        {% for error in errors %}
          add_notification('{{ error }}', 'error');
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=['success']) %}
      {% if successes %}
        {% for success in successes %}
          add_notification('{{ success }}', 'success');
        {% endfor %}
      {% endif %}
    {% endwith %}

    $(document).ready(function() {
        $.extend( $.fn.dataTable.defaults, {
            "sPaginationType": "full_numbers",
          } );
      });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>