{% import 'utils/helpers.html' as helpers %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Slick{% if title %} - {{title}}{% if subheader %} - {{ subheader }}{% endif %}{% endif %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/datatables.responsive.css" rel="stylesheet" media="screen">
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css" rel="stylesheet" media="screen">
    <link href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet" media="screen">
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen">
{# @TODO - Figure out where these come from
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->  
#}
    <link href="/static/css/site/slick.css" rel="stylesheet" media="screen">
    <style>
    .ui-autocomplete {
      padding-top: 10px;
      max-height: 200px;
      overflow-y: auto;
                  /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
      height: 200px;
    }
    .ui-autocomplete-loading {
      background: white url('/static/img/ajax-loader.gif') right center no-repeat;
    }
    </style>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="container">
    {# Menu #}
    {% if g.user.is_authenticated() %}
      {% include 'layout/menu.html' %}
    {% endif %}

    {% if submenu %}
      <span class="pull-right">
        <ul class="list-inline">
          {% for link, text in submenu %}
          <li><a href="{{ link }}" class="btn btn-primary btn-sm">{{ text }}</a></li>
          {% endfor %}
        </ul>
      </span>
    {% endif %}

    {% if not hide_title %}
      <h1><small>{{ title }}</small></h1>
    {% endif %}
    {% if subheader %}<h2><small>{{ subheader }}</small></h2><br>{% endif %}

    {# Page Content #}
    {% block content %}{% endblock %}

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" type="text/javascript" charset="utf8"></script>
    <script src="/static/js/dataTables.bootstrap.js"></script>
    <script src="/static/js/datatables.responsive.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/parsley.min.js"></script>
    <script src="/static/js/core.js"></script>
    <!-- Toastr for notifications -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.0/js/toastr.min.js"></script>

    <script type="text/javascript">
    {% with errors = get_flashed_messages(category_filter=['error']) %}
      {% if errors %}
        {% for error in errors %}
          add_notification('{{ error }}', 'error');
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=['success']) %}
      {% if successes %}
        {% for success in successes %}
          add_notification('{{ success }}', 'success');
        {% endfor %}
      {% endif %}
    {% endwith %}

    $(document).ready(function() {
        var responsiveHelper;
        var breakpointDefinition = {
          phone: 320,
          plandscape: 480,
          smalltabportrait: 600,
          tablet: 1024,
        };

        var tableElements = $('table:not(".no-datatable")');

        tableElements.dataTable({
            sPaginationType: 'bootstrap',
            bAutoWidth     : false,
            fnPreDrawCallback: function () {
              // Initialize the responsive datatables helper once.
              if (!this.responsiveHelper) {
                this.responsiveHelper = new ResponsiveDatatablesHelper(this, breakpointDefinition);
              }
            },
              fnRowCallback  : function (nRow) {
              this.responsiveHelper.createExpandIcon(nRow);
            },
              fnDrawCallback : function (oSettings) {
              this.responsiveHelper.respond();
            }
          });
            
        var cache = {};

        $("#global_search").autocomplete({
            minLength: 2,
            source: function( request, response ) {
              var term = request.term;
              if ( term in cache ) {
                response( cache[ term ] );
                return;
              }
              
              $.getJSON( "{{ url_for('site_module.search') }}", request, function( data, status, xhr ) {
                  cache[ term ] = data;
                  response( data );
                });
            },
            select: function (event, ui) {
              event.preventDefault();
              window.location.href = ui.item.value;
            },
          }).data( "ui-autocomplete" )._renderItem = function( ul, item ) {
              return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>"+ item.label + "</a>" ) 
                .appendTo( ul );
        };;
    });
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>