<!-- extend from base layout -->
{% extends "layout/base.html" %}

{% block css %}
<link href="/static/css/site/login.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content %}
<div class="container">
  <form class="form-signin" action="{{ url_for('site_module.login') }}" method="post">
    <h2 class="form-signin-heading">Sign In</h2>
    {{form.hidden_tag()}}
    {{form.username(size=80, class="form-control", placeholder="Username", autofocus=true)}}
    {% for error in form.errors.username %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
    {{form.password(size=80, class="form-control", placeholder="Password")}}
    {% for error in form.errors.password %}
        <span style="color: red;">[{{error}}]</span>
    {% endfor %}<br>
    <label class="checkbox">
        {{form.remember_me}} Remember Me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock %}